<div class="container">
  <h1>Resources</h1>
  <div class="col-lg-8 px-0">
    <p class="fs-5"></p>
  </div>
</div>


<div class="container">



  <div class="row">
    <h5>Sourcecode from this Book</h5>
    <div class="col-md-6">
      Github:
    </div>
    <div class="col-md-6">
      <a href="https://github.com/Paul-Mizel/Crypto-Trading-Unleashed" target="_blank">Crypto-Trading-Unleashed</a>
    </div>
  </div>

  <div class="row pt-4">
    <h5>Books</h5>
    <div class="col-md-6">
      "Technical Analysis of the Financial Markets" by John J. Murphy <br />
      "Reminiscences of a Stock Operator" by Edwin Lefèvre<br />
      "Market Wizards" by Jack D. Schwager<br />
      "The Intelligent Investor" by Benjamin Graham<br />
      "Trading in the Zone" by Mark Douglas<br />
    </div>
    <div class="col-md-6">      
      <a href="https://amzn.to/3JwcQCU" target="_blank">Technical Analysis of the Financial Markets</a> <br />
      <a href="https://amzn.to/3r46DHY" target="_blank">Reminiscences of a Stock Operator</a> <br />
      <a href="https://amzn.to/46tRi3m" target="_blank">Market Wizards</a> <br />
      <a href="https://amzn.to/3NygWM1" target="_blank">The Intelligent Investor</a> <br />
      <a href="https://amzn.to/4433N4y" target="_blank">Trading in the Zone</a> <br />
    </div>
  </div>

  <div class="row pt-4">
    <h5>Online Courses and Tutorials</h5>
    <div class="col-md-6">
      Investopedia's Technical Analysis Course<br />
      Udemy's Cryptocurrency Trading Course<br />
      TradingView's Educational Resources<br />
      Babypips' Forex Trading Course<br />
      Coursera's Financial Markets Course<br />
    </div>
    <div class="col-md-6">
    </div>
  </div>

  <div class="row pt-4">
    <h5>Websites and Blogs</h5>
    <div class="col-md-6">
      TradingView<br />
      CoinMarketCap <br />
      CoinGecko<br />
      CoinDesk<br />
      Investopedia<br />
      Seeking Alpha<br />
      Staking Rewards<br />
    </div>
    <div class="col-md-6">
      <a href="https://www.tradingview.com/?aff_id=119137" target="_blank">https://www.tradingview.com</a> <br />
      <a href="https://coinmarketcap.com" target="_blank">https://coinmarketcap.com</a> <br />
      <a href="https://www.coingecko.com" target="_blank">https://www.coingecko.com</a> <br />
      <a href="https://www.coindesk.com" target="_blank">https://www.coindesk.com</a> <br />
      <a href="https://www.investopedia.com" target="_blank">https://www.investopedia.com</a> <br />
      <a href="https://seekingalpha.com" target="_blank">https://seekingalpha.com</a> <br />
      <a href="https://www.stakingrewards.com" target="_blank">https://www.stakingrewards.com</a> <br />
    </div>
  </div>

  <div class="row pt-4">
    <h5>Trading Platforms and Tools</h5>
    <div class="col-md-6">
      TradingView<br />
      CScapl<br />
      MetaTrader 4<br />
      Bitget<br />
      Binance<br />
      Coinbase Pro<br />
      Kraken<br />
      MetaMask<br />
      Trust Wallet
    </div>
    <div class="col-md-6">
      <a href="https://www.tradingview.com/?aff_id=119137" target="_blank">https://www.tradingview.com</a> <br />
      <a href="https://fsr-develop.com" target="_blank">https://fsr-develop.com</a> <br />
      <a href="https://www.metatrader4.com" target="_blank">https://www.metatrader4.com</a> <br />
      <a href="https://www.bitget.com/referral/register?from=referral&clacCode=M4ZPZYGL"
        target="_blank">https://www.bitget.com</a><br />
      <a href="https://accounts.binance.com/register?ref=18567919" target="_blank">https://www.binance.com</a><br />
      <a href="https://pro.coinbase.com" target="_blank">https://pro.coinbase.com</a> <br />
      <a href="https://www.kraken.com" target="_blank">https://www.kraken.com</a> <br />
      <a href="https://metamask.io" target="_blank">https://metamask.io</a> <br />
      <a href="https://trustwallet.com" target="_blank">https://trustwallet.com</a> <br />
    </div>
  </div>

  <div class="row pt-4">
    <h5>Trading Platforms and Tools</h5>
    <div class="col-md-6">
      Online Communities and Forums Reddit's r/CryptoCurrency community <br />
      Bitcointalk <br />
      TradingView's Community <br />
      Forex Factory Forum<br />
      Stack Exchange - Bitcoin<br />
    </div>
    <div class="col-md-6">
      <a href="https://www.reddit.com/r/CryptoCurrency" target="_blank">https://www.reddit.com/r/CryptoCurrency</a>
      <br />
      <a href="https://bitcointalk.org" target="_blank">https://bitcointalk.org</a> <br />
      <a href="https://www.tradingview.com/community?aff_id=119137"
        target="_blank">https://www.tradingview.com/community</a> <br />
      <a href="https://www.forexfactory.com/forum.php" target="_blank">https://www.forexfactory.com/forum.php</a> <br />
      <a href="https://bitcoin.stackexchange.com" target="_blank">https://bitcoin.stackexchange.com</a> <br />

    </div>
  </div>

  <div class="row pt-4">
    <div class="col-md-12">
      <p>
        These resources cover a wide range of topics, including technical analysis, market insights, trading platforms,
        and educational materials. Remember to always conduct your own research and choose resources that align with
        your specific trading goals and preferences.
      </p>
    </div>
  </div>
</div>